.container {
    position: relative;
    margin: 10px;
}

.image {
    vertical-align: top;
}

.svg-box {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: block;
}